'''
    Please read the rules
    ---------------------

    Focus is a matter of deciding what things you're not going to do.

    When it's done.

    Symmetry is one way to achive simplicity, but it's important enough to be mentioned on its own.

    There are two kinds of symmetry, repetition and recursion.

    recursion means repetition in subelements, like the pattern of veins in a leaf.

    Why is so important to put fault tolerance in the specification of system?
    http://www.youtube.com/watch?v=VTwU_RnlYcI#t=140

'''