<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>io fun - Fantastical unbelievable communication.</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="author" content="Juan Monge Sobrado">

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,800">
    <link rel="stylesheet" href={{ static_url("css/font-awesome.css") }}>
    <link rel="stylesheet" href={{ static_url("css/bootstrap.min.css") }}>
    <link rel="stylesheet" href={{ static_url("css/bootstrap-theme.min.css") }}>

    <!--enhancement -->
    <link rel="stylesheet" href={{ static_url("css/dropdowns-enhancement.css") }}>

    <!-- cal-heatmap -->
    <link rel="stylesheet" href={{ static_url("css/cal-heatmap.css") }}>

    <!-- bootstrap-datepicker -->
    <link rel="stylesheet" href={{ static_url("css/bootstrap-datepicker.css") }}>

    <!-- countdown -->
    <link rel="stylesheet" href={{ static_url("css/jquery.countdown.css") }}>

    <link rel="stylesheet" href={{ static_url("css/landing.css") }}>
    <link rel="stylesheet" href={{ static_url("css/seed.css") }}>
    <link rel="stylesheet" href={{ static_url("css/seed-responsive.css") }}>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>


<!-- The prefix "fun" stands for "Fantastically Unbelievable Nonsense"-->

<!-- navbar -->
<div id="fun-navbar"></div>

<!-- subheader -->
<div id="fun-subheader"></div>


<!-- landing --> 
<div id="fun-landing"></div>


<!-- howto -->
<div id="fun-howto"></div>

<!-- features -->
<div id="fun-features"></div>

<!-- enterprise -->
<div id="fun-enterprise"></div>

<!-- terms --> 
<div id="fun-terms"></div>

<!-- security --> 
<div id="fun-security"></div>

<!-- privacy --> 
<div id="fun-privacy"></div>

<!-- status --> 
<div id="fun-status"></div>

<!-- developers --> 
<div id="fun-developers"></div>

<!-- help --> 
<div id="fun-help"></div>


<!-- contact -->
<div id="fun-contact"></div>

<!-- signup -->
<div id="fun-signup"></div>	

<!-- login -->
<div id="fun-login"></div>


<!-- dashboard --> 
<div id="fun-dashboard"></div>

<!-- calls -->
<div id="fun-calls"></div>

<!-- campaigns --> 
<div id="fun-campaigns"></div>

<!-- orgs --> 
<div id="fun-orgs"></div>


<!-- activity --> 
<div id="fun-activity"></div>

<!-- members --> 
<div id="fun-members"></div>

<!-- teams --> 
<div id="fun-teams"></div>

<!-- profile --> 
<div id="fun-profile"></div>


<!-- reports --> 
<div id="fun-reports"></div>

<!-- support -->
<div id="fun-support"></div>

<!-- settings -->
<div id="fun-settings"></div>

<!-- contacts -->
<div id="fun-contacts"></div>  

<!-- sounds -->
<div id="fun-sounds"></div>  


<!-- phone -->
<div id="fun-phone"></div>  


<!-- recordings -->
<div id="fun-recordings"></div> 

<!-- extra -->
<div id="fun-extra"></div>

<!-- footer -->
<div id="fun-footer"></div>



<script src={{ static_url("js/libs/modernizr-2.5.3.min.js") }}></script>
<script src={{ static_url("js/libs/jquery-2.1.1.min.js") }}></script>


<!-- WTF -->
<script src={{ static_url("js/libs/jquery.ui.touch-punch.min.js") }}></script>


<!-- get bootstrap -->
<script src={{ static_url("js/bootstrap.min.js") }}></script>

<!-- bootstrap enhancement -->
<script src={{ static_url("js/dropdowns-enhancement.js") }}></script>

<!-- cal heatmap -->
<script src={{ static_url("js/plugins/heatmap/cal-heatmap.min.js") }}></script>

<!-- custom stuff -->
<script src={{ static_url("js/libs/bootstrap-datepicker.js") }}></script>
<script src={{ static_url("js/plugins/validate/jquery.validate.js") }}></script>
<script src={{ static_url("js/plugins/cookie/jquery.cookie.js") }}></script>

<script src={{ static_url("js/plugins/flot/jquery.flot.js") }}></script>
<script src={{ static_url("js/plugins/flot/jquery.flot.time.js") }}></script>
<script src={{ static_url("js/plugins/flot/jquery.flot.pie.js") }}></script>
<script src={{ static_url("js/plugins/flot/jquery.flot.orderBars.js") }}></script>
<script src={{ static_url("js/plugins/flot/jquery.flot.tooltip.min.js") }}></script>
<script src={{ static_url("js/plugins/flot/jquery.flot.resize.js") }}></script>

<script src={{ static_url("js/plugins/timezone/date.js") }}></script>

<script src={{ static_url("js/plugins/countdown/jquery.countdown.min.js") }}></script>

<script src={{ static_url("js/plugins/message/fun-message.js") }}></script>


<!-- funky stuff -->
<script src={{ static_url("js/plugins/d3/d3.min.js") }}></script>


<!-- CUSTOM JS FILES -->

<script src={{ static_url("js/libs/core-min.js") }}></script>
<script src={{ static_url("js/libs/enc-base64-min.js") }}></script>
<script src={{ static_url("js/libs/underscore-min.js") }}></script>
<script src={{ static_url("js/libs/backbone-min.js") }}></script>

<!-- Relax, and have some fun -->
<script src={{ static_url("js/seed/fun.utils.js") }}></script>
<script src={{ static_url("js/seed/fun.configuration.js") }}></script>
<script src={{ static_url("js/seed/fun.strings.js") }}></script>
<script src={{ static_url("js/seed/fun.models.js") }}></script>

<!-- Project views -->

<script src={{ static_url("js/views/navbar.js") }}></script>
<script src={{ static_url("js/views/subheader.js") }}></script>
<script src={{ static_url("js/views/landing.js") }}></script>

<script src={{ static_url("js/views/howto.js") }}></script>
<script src={{ static_url("js/views/features.js") }}></script>
<script src={{ static_url("js/views/enterprise.js") }}></script>

<script src={{ static_url("js/views/terms.js") }}></script>
<script src={{ static_url("js/views/privacy.js") }}></script>
<script src={{ static_url("js/views/security.js") }}></script>
<script src={{ static_url("js/views/status.js") }}></script>
<script src={{ static_url("js/views/developers.js") }}></script>
<script src={{ static_url("js/views/help.js") }}></script>

<script src={{ static_url("js/views/contact.js") }}></script>
<script src={{ static_url("js/views/signup.js") }}></script>
<script src={{ static_url("js/views/login.js") }}></script>
<script src={{ static_url("js/views/dashboard.js") }}></script>

<script src={{ static_url("js/views/campaigns.js") }}></script>
<script src={{ static_url("js/views/orgs.js") }}></script>

<script src={{ static_url("js/views/profile.js") }}></script>

<script src={{ static_url("js/views/members.js") }}></script>
<script src={{ static_url("js/views/teams.js") }}></script>
<script src={{ static_url("js/views/activity.js") }}></script>

<script src={{ static_url("js/views/phone.js") }}></script>

<script src={{ static_url("js/views/contacts.js") }}></script>

<script src={{ static_url("js/views/sounds.js") }}></script>

<script src={{ static_url("js/views/recordings.js") }}></script>

<script src={{ static_url("js/views/reports.js") }}></script>
<script src={{ static_url("js/views/support.js") }}></script>
<script src={{ static_url("js/views/settings.js") }}></script>
<script src={{ static_url("js/views/extra.js") }}></script>
<script src={{ static_url("js/views/footer.js") }}></script>

<!-- noob code -->
<script src={{ static_url("js/Theme.js") }}></script>
<script src={{ static_url("js/Charts.js") }}></script>

<!-- noob charts -->
<script src={{ static_url("js/charts/line.js") }}></script>
<script src={{ static_url("js/charts/donut.js") }}></script>

<!-- fun router -->
<script src={{ static_url("js/seed/fun.router.js") }}></script>



<!-- paste here analytics script -->



</body>
</html>